* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*App*/
.global {
  display: flex;
  min-height: 969px;
  color:white;
  justify-content: center;
  opacity: 0;
  transition: all 5s ease;
}
.global::after {
  background-color: linear-gradient(135deg, rgba(23,234,217,1) 0%, rgba(96,120,234,1) 62%);
}

.secColor {
  opacity: 1;
  background: linear-gradient(135deg, rgba(23,234,217,1) 0%, rgba(96,120,234,1) 62%);
  
}
.timColor {
  opacity: 1;
  background: linear-gradient(135deg, rgba(255,100,54,1) 0%, rgba(251,68,116,1) 61%);
  transition: all 1s ease;
}
.global__btn {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 200px;
  position: relative;
}
.btn-menu {
  height: 40px;
  width: 200px;
  background-color: transparent;
  border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  border: 1px solid #ffffff;
  color: white;
  font-size: 18px;
  position: absolute;
  outline: none;
}
.secOff {
  left: 15px;
  top: 30px;
  transform: translate(-5px, -10px);
  transition: all 0.2s ease-in-out;
}
.secOn {
  left: 10px;
  top: 20px;
  transform: translate(5px, 10px) scale(1.2);
  transition: all 0.2s ease-in-out;
  animation-play-state: paused;
  
}
.timOff {
  right: 15px;
  top: 30px;
  transform: translate(5px, -10px);
  transition: all 0.2s ease-in-out;
}
.timOn {
  right: 10px;
  top: 20px;
  transform: translate(-5px, 10px) scale(1.2);
  transition: all 0.2s ease-in-out ;
}

.shadow {
  -webkit-box-shadow: 0px 0px 31px -2px rgba(0,0,0,0.67);
  -moz-box-shadow: 0px 0px 31px -2px rgba(0,0,0,0.67);
  box-shadow: 0px 0px 31px -2px rgba(0,0,0,0.67);
}
/*Timer*/
.timer__display {
  margin: 0 auto;
  padding-top: 160px;
}
.timer__input {
  max-width: 130px;
  font-size: 88px;
  border: none;
  background: transparent;
  color:white;
  outline: none;
  font-family: 'Aldrich', sans-serif;
}
.timer,
.second {
  font-size: 88px;
  font-family: 'Aldrich', sans-serif;
  min-height: 500px;
  width: 500px;
  border: 1px white solid;
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  -webkit-box-shadow: 0px 0px 51px -22px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 51px -22px rgba(0,0,0,1);
  box-shadow: 0px 0px 51px -22px rgba(0,0,0,1);
  margin: 0 auto;
  padding-bottom: 20px;
}
.hide {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  display: none;

}
.show {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.timer__content,
.second__content {
  display: flex;
  justify-content: center;
  flex-direction:column;
}
.preLoader {
  min-height: 4px;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 15px;
  width: 350px;
  margin-bottom: 26px;
}
@keyframes move {
  from {width: 350px}
  to {width: 0px}
}
@keyframes move1 {
  from {width: 0px}
  40% {width: 400px}
  to {width: 350px}
}
.timer__button {
 margin: 0 auto;
}
.btnStop {
display: none;
background-color: transparent;
border: none;
color: white;
outline: none;
margin-left: 6px;
}
.btnStop:before{
  content: "\ea17";
  font-family: 'icomoon';
  font-size: 60px;
}
.btnStart.play,
.btnStart.pause {
background-color: transparent;
border: none;
color: white;
outline: none;
margin-right: 6px;
}
.play:before {
  content: "\ea15";
  font-family: 'icomoon';
  font-size: 60px;
}
.pause:before {
  content: "\ea16";
  font-family: 'icomoon';
  font-size: 60px;
}

/*button*/
.second__button-content,
.timer__button-content {
  position: relative;
  width: 140px;
  padding-bottom: 70px;
}
.btnSecStart {
  z-index: 1;
  position: absolute;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  left: 40px;
  transition: all 0.2s ease-in-out;
}
.transfStart {
  transform: translateX(-40px)
}
.btnSecStop {
  opacity: 0;
  z-index: 0;
  position:absolute;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  right: 40px;
  transition: all 0.2s ease-in-out;
}
.transfStop {
  opacity: 1;
  transform: translateX(40px)
}

.stop:before {
  content: "\ea17";
  font-family: 'icomoon';
  font-size: 60px;
}
/*second*/
.second__time {
  position: absolute;
  left: 27px;
}
.second__display {
  position: relative;
  padding-top: 160px;
  padding-bottom: 150px;
}
/*SaveTime__container*/

.saveTimer__container {
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  font-size: 20px;
  width: 500px;
  justify-content: space-between;
}
.saveTimer__line {
  width: 50px;
  border-right: 1px #ffffff solid;
}
.saveTimer__number {
 margin: 0 auto;
}



